<div class="">
				<!-- ici le lien renvoie à l'ouverture du canvas de connexion (cf icone conexion dans le header)-->
				<!-- Informations utilisateurs -->
					<div class=""> <div class="imputForm">
						<div class="imput_l">
							<label>Nom</label>
							<input type="text" class="" placeholder="Entrez votre nom..">
						</div>

						<div class="imput_r">
							<label>Prénom</label>
							<input type="text" class=" " placeholder="Entrez votre prénom..">
						</div>
					</div>

					<div class="imputForm">
						<div class="imput_l">
							<label for="mailFloatingInput">Adresse mail</label>
							<input type="email" class="form-control" id="mailFloatingInput" placeholder="Entrez votre adresse mail">
						</div>

						<div class="imput_r">
							<label for="mailFloatingInput">Confirmer mail</label>
							<input type="email" class="form-control" id="mailFloatingInput" placeholder="Entrez votre adresse mail">
						</div>
					</div>

				</div>
			</div>
