{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/contact/formulaireContact.css')}}">
{% endblock %}

<div>
	<section
		class="formulaireRechercheProduit">

		<!--En-tête-->
		<div class="">
			<h1>Formulaire de demande</h1>
			<p>Ici vous pouvez effectuer une demande de produit spécifique.<br>
				Votre demande devras être ensuite accepter par le vendeur.
			</p>
		</div>


		<div
			class="">
			<!--div principal ici qu'on modifie la largeur du formulaire-->

			<div class="">
				<h4 class="">Vos informations</h4>
				<p class=""> Connectez vous pour pouvoir envoyer une demande </p>
				<!-- ici le lien renvoie à l'ouverture du canvas de connexion (cf icone conexion dans le header)-->

				<!-- Informations utilisateurs --> 
				{# <div class="">

					<div class="imputForm">
						<div class="imput_l">
                            <label>Nom</label>
							<input type="text" class="" placeholder="Entrez votre nom..">							
						</div>

						<div class="imput_r">
							<label>Prénom</label>                        
							<input type="text" class=" " placeholder="Entrez votre prénom..">
						</div>
					</div>

                    <div class="imputForm"> 
                        <div class="imput_l">
                            <label for="mailFloatingInput">Adresse mail</label>
                            <input type="email" class="form-control" id="mailFloatingInput" placeholder="Entrez votre adresse mail">
                        </div>

                        <div class="imput_r">
                            <label for="mailFloatingInput">Confirmer mail</label>                        
                            <input type="email" class="form-control" id="mailFloatingInput" placeholder="Entrez votre adresse mail">
                        </div>
                    </div>

				</div> #}
			</div>

			<div class="carte_form">
				<h5 class="">Quelques précisions sur le produit recherché</h5>
				<!-- Information produits rechercher -->
				<div class="">
					<div class="">
						<div class="">
							<button class="" type="button">Choisissez le type de produit..</button>
							{# <ul class="dropdown-menu">
							                                <li class="dropdown-item">
							                                    <input class="form-check-input" type="checkbox" value="" id="Figurine">
							                                    <label class="form-check-label" for="Figurine">Figurine</label>
							                                </li>
							                                <li class="dropdown-item">
							                                    <input class="form-check-input" type="checkbox" value="" id="Manga">
							                                    <label class="form-check-label" for="Manga">Manga</label>
							                                </li>
							                                <li class="dropdown-item">
							                                    <input class="form-check-input" type="checkbox" value="" id="Autres">
							                                    <label class="form-check-label" for="Autres">Autres <span
							                                            class="text-danger">*</span></label>
							                                </li>
							                            </ul> #}
						</div>

						<div class="">
							<div class="">
								<label for="choiceOtherItem" class="">
									<span class="text-danger">*
									</span>Autres
									<span class="text-secondary">(préciser)</span>
									:</label>
							</div>
							<div class=" col-auto ">
								<input type="text" class="form-control p-1" id="choiceOtherItem" placeholder="Goodies, Peluches...">
							</div>
						</div>
					</div>

					
					<div class="">
						<label for="" class="">Veuillez préciser votre recherche :</label>
						<textarea class="" name="" maxlength="300" wrap="soft" rows="6" placeholder="Pour aider la recherche de votre produit veuillez précisez votre recherche..."></textarea>
						<span class="text-secondary position-absolute pe-3" style="font-size: 13px; bottom :0; right: 0;">300
							                            caractères max</span>
					
					</div>
					<div class="">
						<a href="">
							<button type="submit" class="">Envoyer le formulaire</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>
