{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/contact/formulaire_contact.css') }}">
{% endblock %}


<section>
	<div class="formulaireRechercheProduit">

		<!--En-tête-->
		<div>
			<h3>Formulaire de demande</h3>
			<p>Ici vous pouvez effectuer une demande de produit spécifique.
				<br>Votre demande devras être ensuite accepter par le vendeur.
			</p>
			{# <br>Vous devez être connecter pour envoyer une demande #}


		</div>

		<!--div principal ici qu'on modifie la largeur du formulaire-->


		<div class="carte_form">

			<h3>Vos informations</h3>
			<p>Connectez vous pour pouvoir envoyer une demande.</p> {# VOIR POUR RENDRE PAR LA SUITE L AJOUT DE L ADRESSE OBLIGER #}

			<h3>Quelques précisions sur le produit recherché</h3>

			<!-- Information produits rechercher -->
			<form class="formulaire_contact">

				<div class="choice_product">

					<p>Choisissez le type de produit voulue :</p>

					<div class="type_of_checkbox">
						
						<div>
							<input type="checkbox" value="Figurine" id="Figurine">
							<label for="Figurine">Figurine</label>
						</div>
						<div>
							<input type="checkbox" value="" id="Manga">
							<label for="Manga">Manga</label>
						</div>

						<div>
							<input type="checkbox" value="" id="Autres">
							<label for="Autres">Autres *</label>
						</div>
					</div>

				</div>

				<div class="precision">
					<label for="choiceOtherItem" class="">* Autres (préciser) :</label>
					<input type="text" class="" id="choiceOtherItem" placeholder="Goodies, Peluches...">
				</div>


				<div class="precision_textarea">
					<label for="">Veuillez préciser votre recherche :</label>
					<textarea name="" maxlength="300" wrap="soft" rows="6" placeholder="Apportez des précision a votre demande (300 caractères max)"></textarea>
				</div>

				<button type="submit" class="">Envoyer le formulaire</button>

			</form>

		</div>
	</div>
</section>
