{% extends 'base.html.twig' %}

{% block title %}Edit Produits{% endblock %}

{% block body %}
    <h1>Modifier {{ produit.nomProduit}}</h1>

    {{ include('produits/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_produits_index') }}">Retour</a>

    {{ include('produits/_delete_form.html.twig') }}
{% endblock %}
