{% extends 'base.html.twig' %}

{% block title %}New Produits{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel article</h1>

    {{ include('produits/_form.html.twig') }}

    <a href="{{ path('app_produits_index') }}">Retour</a>
{% endblock %}
