{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


<h1>Administration</h1>

<a href="{{ path('app_formulaire_demande_produit_index')}}">Les Formulaires de demande produits</a>
<a href="{{ path('app_produits_index')}}">Liste des produits</a>
<a href="{{ path('app_profil_utilisateurs_index')}}">Liste des clients</a>

<a href="{{ path('app_adresses_index') }}">Liste des adresse</a>

{% endblock %}
