{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}


{% block body %}

<h1>Nos produits populaires</h1>

{# {% for produit in listeProduits %} #}
  {% include "./accueil/mozaic_meilleur.produit.html.twig" %}  
{# {% endfor %} #}

{# {% include "./accueil/mozaic_meilleur.produit.html.twig" %}
{% include "./accueil/mozaic_meilleur.produit.html.twig" %}
{% include "./accueil/mozaic_meilleur.produit.html.twig" %} #}

{% endblock %}
