{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/accueil.css')}}">
{% endblock %}


{% block body %}

  {% include "./composants_base/banniere.html.twig" %}

  <div class="bloc_vente"> {# Max 3 produits #}
    <h1>Nos produits populaires</h1>
    <div class="mozaic_accueil">
      {# Ajouter boucle ici #}
      {% include "./accueil/mozaic_accueil.html.twig" %}    
      {% include "./accueil/mozaic_accueil.html.twig" %}
      {% include "./accueil/mozaic_accueil.html.twig" %}
    </div>
  </div>

  <div class="bloc_vente"> {# Max 3 produits #}
    <h1>Nos licences populaires</h1>    
    <div class="mozaic_accueil">
      {# Ajouter boucle ici #}
      {% include "./accueil/mozaic_accueil.html.twig" %}
      {% include "./accueil/mozaic_accueil.html.twig" %}
      {% include "./accueil/mozaic_accueil.html.twig" %}
    </div>
  </div>

{% endblock %}
