{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/mozaic_accueil.css')}}">
{% endblock %}


<div class="carte_produit">

	<img src="{{ asset('./images/produits/dbz_2.jpg')}}" alt="image produit ">

	<div class="carte_corp_produit">

		<h5 class="carte_nom_produit">Loremp Ipsum</h5>

		<div class="carte_foot">
			<p>20.00 £</p>	
			<button class="acces_prod"> Voir </button>
		</div>


	</div>

</div>