{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/shop/card_produit.css')}}">
{% endblock %}


<div class="carte_produit">

	<img src="{{ asset('./images/produits/dbz_2.jpg')}}" alt="">

	<div class="carte_corp_produit">

		<h5 class="carte_nom_produit">Loremp Ipsum</h5>

		<p class="carte_descritpiton_produit">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Proin libero arcu, molestie ac arcu eu, gravida vehiculametus.
            Vestibulum tristique nibh fringilla suscipit elementum.
             Nam ut sem sed mi aliquet.
		</p>

		<div class="carte_footer">
			<p>
				20.00 £
			</p>

			<button class="btn_ajout_pannier"> Ajouter </button>
		</div>


	</div>

</div>