{% extends 'base.html.twig' %}

{% block title %} Boutique {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/shop/shop.css')}}">
{% endblock %}


{% block body %}

    {% include "./composants_base/banniere.html.twig" %}


    <div class="intitule_page">
        <h3> Boutique </h3>
    </div>


    <div class="mozaic_produits">

        {# Rajouter le IF quand on auras accès au produits #}
        {# {% for produit in liste_produits %} #}
            {% include "./shop/composants_shop/card_produits.html.twig" %} 
        {# {% endfor %} #}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}    
    
    </div>



{% endblock %}
