{% extends 'base.html.twig' %}

{% block title %} Boutique {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/shop.css')}}">
{% endblock %}


{% block body %}


    <div class="mozaic_produits">

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}

        {% include "./shop/composants_shop/card_produits.html.twig" %}    
    
    </div>



{% endblock %}
