/* .formulaireRechercheProduit {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.carte_form {
    border: solid #AD0011 1px;
    margin: 10px;
    padding: 50px;
} */



/* CHECK BOX TYPE PRODUITS RECHERCHER */

/* .type_of_checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.formulaire_contact {
    padding: 50px;
} */