{# <pre>
    {{ dump(client[0].id) }}
</pre> #}
<form method="post" action="{{ path('app_profil_utilisateurs_delete', {'idClient': client[0].id}) }}" onsubmit="return confirm('Voulez vous supprimer le client {{client[0].username}}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client[0].id) }}">
    <button class="btn">Supprimer</button>
</form>
