{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}
    <h1>Ajouter un nouveaux client</h1>
    
    {{ include('profil_utilisateurs/_form.html.twig') }}

    <a href="{{ path('app_profil_utilisateurs_index') }}">Retour</a>
{% endblock %}
